@import '~normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

#chess-game {
  position: relative;
  width: 362px;
  height: 402px;  
  border: 1px solid black;
  .header {
    height: 40px;
  }
  #numbers {
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 40px;
  }
  #letters {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    height: 40px;
    width: 320px;
    // > div {
    //   border: 1px solid green;
    //   border-width: 1px 1px 1px 0;
    // }
  }
  .numbers__cordinate, .letters__cordinate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

#chess-board {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  flex: none;
  height: 320px;
  width: 321px;
  .board {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid black;
    &__row {
      display: flex;
      flex: 1;
    }
    &__white-space {
      flex: 1;
      background: #fff;
      &:hover {
        outline: 2px solid blue;
        outline-offset: -2px;
      }
    }
    &__black-space {
      flex: 1;
      background: #808080;
      &:hover {
        outline: 2px solid blue;
        outline-offset: -2px;
      }
    }
  }
}

.chess-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}


